{% extends "base.html" %}

{% block content %}

<h3 class="title has-text-info">User Information</h3>
<div class="table-container">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>timestamp</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>timestamp</th>
            </tr>
        </tfoot>

        {% for row in rows %}
        <tbody>
            <tr>
                <th>{{row["id"]}}</th>
                <td>{{row["name"]}}</td>
                <td><a href="mailto:{{row['email']}}">{{row['email']}}</a></td>
                <td>{{row["timestamp"]}}</td>

            </tr>
        </tbody>


        {% endfor %}
    </table>
</div>
<br><br>

<a class="button has-text-danger" href="{{ url_for('main.index') }}">
    <strong>Exit to home page</strong>
</a>

{% endblock %}