<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>  Books</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='vamsi.css')}}"> 
</head>

<body>
    <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand ">
            <a class="navbar-item has-text-success" href="{{ url_for('main.index') }}">
                <span class="left">
                    
                        <script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/wxnxiano.json" trigger="morph"
                            colors="primary:#ffffff,secondary:#08a88a" style="width:40px;height:40px">
                        </lord-icon><strong>Books</strong>  
                    
                </span>
            </a>

            <a role="button" class="navbar-burger has-text-info" aria-label="menu" aria-expanded="false"
                data-target="NavMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="container">
            <div id="NavMenu" class="navbar-menu">
                <div class="navbar-end">
                    {% if current_user.is_authenticated %}
                    <form action="/search", method="POST">
                        <div class="field has-addons search is-centered">
                            <div class="control c-s">
                                <input class="input" name="search" type="text" placeholder="Find a book with isbn id">
                            </div>
                            <button class="button is-info">
                                🔍 Search 
                            </button>
                            <!--  -->
                        </div>
                    </form>
                    <a href="{{ url_for('main.index') }}" class="navbar-item has-text-info">
                        🏠 Home
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.profile') }}" class="navbar-item has-text-info">
                        👱 {{uname}}
                    </a>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="navbar-item has-text-info">
                        🔓 Login
                    </a>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-item has-text-info">
                        📝 Sign Up
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}" class="navbar-item has-text-danger">
                        🔒 Logout
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <section class="bg hero is-fullheight" id="bg">

        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</body>
<script type=text/javascript src="{{
  url_for('static', filename='NavMenu.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='char.js') }}"></script>

</html>