{% extends "base.html" %}

{% block content %}
<br><br>
<div class="is-11 is-offset-1">
    <h1 class="title has-text-white">
        "{{title}}" book to be reviewed
    </h1>
</div>
<br>
<div class="table-container columns is-centered txt-center">

    <table class="table is-bordered is-striped is-hoverable has-text-left">

        <tr>
            <th>ISBN</th>
            <td>{{id}}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{title}}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{author}}</td>
        </tr>
        <tr>
            <th>Year</th>
            <td>{{year}}</td>
        </tr>
        <tr>

            <form action="/review/{{id}}" method="POST">
                <th>Rate this "{{title}}" book 👉</th>
                <td>
                    <h5 class="subtitle is-5">reviewer name</h5>
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-medium" type="text" aria-required="true" name="reviewer"
                                placeholder="reviewer Name" autofocus=""><span class="icon is-small is-left">
                                👱
                            </span>
                        </div>
                    </div>
                    <div class="rating">
                        <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                        <label for="star5">☆</label>
                        <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                        <label for="star4">☆</label>
                        <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                        <label for="star3">☆</label>
                        <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                        <label for="star2">☆</label>
                        <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                        <label for="star1">☆</label>
                        <div class="clear"></div>
                    </div>
                    <br>
                    <h5 class="subtitle is-5">Add some useful review please</h5>
                    <div class="control">
                        <textarea maxlength="300" onkeyup="countChars(this);" class="textarea is-link"
                            placeholder="Add your Review here" name="review"></textarea>
                        <div class="has-text-right" id="the-count">
                            <strong>
                                <span class="has-text-info" id="charNum">0</span>
                                <span class="has-text-info" id="maximum">/ 300</span>
                            </strong>
                        </div>
                    </div><br>
                    <div class="buttons is-centered">
                        <button class="button is-primary is-light">Record it!</button>
                    </div>
            </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}