{% extends "base.html" %}

{% block content %}
<br><br>
<h1 class="title has-text-white">
    <i>Hello</i> {{current_user.name}}! here are yours favorite books
</h1><br>



<div class="table-container columns is-centered txt-center">
    <table class="table is-bordered is-striped is-hoverable has-text-left">
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {% for i in b %}
        <tr>
            {% if i.reviewer==current_user.name %}
            <td>{{i.book}}</td>
            <td><a href="/delete/{{i.book}}" class="button is-danger is-light">delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>



{% endblock %}