#bg {
  background-color: #363636;
}

.search {
  margin-top  : 15px;
  margin-bottom: 15px;
  margin-right  : 400px;
  width: 400px;
}

.c-s{
   width: 600px;
}

#loggedIn {
  float: right;
  margin-top: -200px;
  margin-right: -50px;
}
